body {
  background-color: #F8F8F8;
}

p {
  font-size: 18px;
}
/*navbar*/
.navbar-default {
  background-color: #333333;
  font-family: 'Syncopate', sans-serif;
}

/*link*/
.navbar-default .navbar-nav > li > a {
  color: #F8F8F8;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #428BCA;
}

.navbar-toggle {
  margin-top: 15px;
}

.nav > li > a {
  padding: 15px 0px;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav {
  margin-top: 10px;
  color: #F8F8F8;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.ce_icon {
  height: 40px;
}

a {
  color: #F8F8F8;
}

a:hover {
  color: #F8F8F8;
  text-decoration: underline;
}

.intro {
  padding-top: 100px;
  padding-bottom: 100px;
}

.name {
  color: #FFB90A;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

#my_photo {
  height: 200px;
  border: solid 5px black;
  border-radius: 50%;
}

.fa:hover {
  color: #428BCA;
}

.fa {
  color: #333333;
  margin-top: 12px;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}

.projects {
  /*border: solid;*/
  background-color: rgba(191,191,191,.3);
  height: 700px;
}

.projects_title {
  margin-bottom: 50px;
  padding-top: 100px;
}

.carousel-indicators {
  position: relative;
}

a.left.carousel-control, a.right.carousel-control {
  background-image: none;
}

.prev, .next {
  top: 25%;
  position: absolute;
}

a.carousel-control:hover > .fa {
  color: #333;
}

.prev {
  left: 0;
}

a.project_link {
  color: #428BCA;
}

hr {
  border: 0;
  height: 2px;
  width: 90%;
  color: #333;
  background-color: #333;
}

.projects_mobile {
  margin-bottom: 120px;
}

.pmobile_div {
  margin-bottom: 50px;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_me {
  /*border: solid;*/
  background-color: #F8F8F8;
  padding-bottom: 200px;
}

.aboutme_title {
  padding-top: 100px; 
}

img.aboutme_pic {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 12px;
}

.navbar-default .footer_text {
  color: #FFB90A;
  font-size: 12px;
}

.footer_icon {
  color: white;
  margin-top: 15px;
}

